*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html dan body harus setini penuh bidang halaman */
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.halaman{
    display: flex;
    flex-direction: column; 
    /* supaya ke bawah */
    justify-content: center;
    align-items: center;
    height: 100%;
}
.tabel_login,
.tabel_login tr,
.tabel_login th,
.tabel_login td
{   border:1px solid black; 
    border-collapse:collapse;
}
.tabel_login th,
.tabel_login td{
    padding: 10px;
}
.tabel_login tr:nth-child(odd){
    background-color: khaki;
}
.tabel_login tr:nth-child(even){
    background-color:lightsalmon;
}
.tabel_login th{
        color: white;
        background-color: darkred;
}
.kotak_pesan{
    background-color: yellow;
    width: 50%;
    padding: 1rem;
    border: 1px solid orange;
    margin: 1rem;
}

header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: goldenrod;
}
header h1{ 
    font-size: 1.5rem;

    }
header h2 {
    text-align: right;
    font-size: 1.2rem;
    font-weight: lighter;
}
.wadah_main{
    display: flex;
    height: 100%;
}
nav{
    width: 25%;
    background-color: darkred;
}
main{
    width: 75%;
    background-color: aliceblue;
    padding: 1rem;
}
.menu{
    list-style: none;
}
.menu>li{
    padding: 10px;
    border-bottom: 1px solid white;
}
.menu li:hover{
    background-color: coral;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block;
}
.menu li ul {
    border-top: 1px solid white;
}
   

.menu li ul li{
    padding: 10px;
    background-color: darkred;
}
.menu li ul li a::before{content:"\25b6 ";
    padding-right: 5px;

}

fieldset{
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid darkred;
}
legend{
    padding: 0.5rem;
    margin-left: 20px;
}
button{
    color: white;
    padding: 5px 20px;
    box-shadow: 1px 1px black;
}
button:hover{
    background-color: blue;
}